<div class="container">
	<div class="row">
      <div class="col-md-12">
          <div class="box-te">
              <div class="box-content">
                  <h1 class="tag-title"><%= @job.title %></h1>
                  <hr>
                    <p>
                      <%= simple_format(@job.description) %>
                    </p>
                  <br />
                    <div class="text-center">
                      <%= link_to("提交组队申请", new_job_resume_path(@job), :style => "font-size: 30px;") %>
                    </div>

               </div>
          </div>
        </div>
   </div>
</div>
